* {
  color: rgb(68,68,68);
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}

a {
  border-bottom: 1px dashed;
  color: rgb(74, 102, 150);
  font-size: inherit;
}

a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

body {
  background: #e9e9e9;
}

code, code *, pre, pre * {
  font-family: 'Droid Sans Mono';
  font-size: 16px;
}

#content, #footer {
  margin: 20px auto;
  max-width: 800px;
}

#content img {
  max-width: 800px;
}

#footer section {
  font-size: 0.7em;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  border-bottom: none;
}

#header {
  border-bottom: 1px solid #ccc;
  margin: 20px auto 0;
  max-width: 800px;
  padding-bottom: 10px;
  position: relative;
  vertical-align: top;
}

#header a {
  border-bottom: none;
}

#header h2 {
  display: inline-block;
  margin: 0 10px;
  top: 5px;
  width: 300px;
}

#header img.me {
  border-radius: 50px;
  width: 50px;
}

#header section.links {
  position: absolute;
  right: 0;
  top: 0;
}

#header section.links a {
  padding-left: 5px;
}

#header section.links img {
  width: 24px;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 640px;
}

.older {
  margin-bottom: 50px;
  text-align: center;
}

p {
  text-align: justify;
}

.published {
  font-size: 0.7em;
}

section.post {
  margin-bottom: 50px;
}

section.post::after {
  background: #ccc;
  content: ' ';
  display: block;
  height: 1px;
  margin: 25px auto 0;
  width: 85%;
}

section.post h2 {
  font-size: 2em;
  font-weight: normal;
}

section.post p {
  margin: 35px 0;
}

section.post p.published {
  margin: 10px 0 0;
}
