* {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
}

code, code *, pre, pre * {
  font-family: 'Droid Sans Mono';
  font-size: 16px;
}

#content {
  margin: 20px auto;
  max-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  text-align: justify;
}
