doctype html
html(lang="en")
  head
    include head.jade
    title= post.title
  body
    #content
      include menu.jade
      h1= post.title
      p.published Published on #{post.date}
      != post.html
